.wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.person {
    border-radius: 10px;
    padding: 10px;
    border: 2px solid blue;
    ;
}